@import "./variables.scss";

.Home {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Header {
    display: flex;
    background-color: black;
    text-align: center;
  }

  .firstSubtitle {
    color: white;
    font-weight: 100;
  }

  .whiteSubtitle {
    @include whiteSubtitle();
  }

  .whiteBody {
    @include whiteBody();
  }

  .menuItemDescr {
    margin-top: 1vh;
  }

  .Collapsible__trigger {
    @include blackSubtitle();
    font-weight: 200;
    text-transform: uppercase;
    color: black;
    margin: 2vh 0;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  &.Collapsible__trigger.is-open {
    opacity: 1;
  }

  .collapsItem {
    margin: 2vh 0;
  }

  .chevron {
    position: relative;
    top: -20px;
  }

  .linesPattern {
    position: absolute;
    z-index: 1;
  }

  .shapePattern {
    position: absolute;
    z-index: 1;
  }
}

// Phones
@media only screen and (max-width: 480px) {
  .tabletImg,
  .desktopImg,
  .longLineDeco,
  .smallLineDeco,
  .linesPattern,
  .shapePattern {
    display: none;
  }

  .firstSubtitle {
    font-size: 32px;
    margin: 2vh 12vw;
    line-height: 40px;
  }

  .whiteSubtitle {
    font-size: 32px;
    margin: 0 5vw;
  }

  .blackSubtitle {
    font-size: 32px;
    margin: 0 5vw;
  }

  .whiteBody {
    line-height: 26px;
    margin: 5vw;
  }

  .menuItemTitle {
    font-size: 26px;
  }

  .Collapsible__trigger {
    font-size: 26px;
  }

  .Header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Tablets
@media only screen and (min-width: 480px) and (max-width: 961px) {
  .title {
    font-size: 76px;
  }
  .whiteBody,
  .blackBody {
    font-size: 28px;
    line-height: 40px;
    margin: 0 5vw;
  }

  .phoneImg,
  .desktopImg {
    display: none;
  }

  .menuHighligths {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menuItemDescr {
    margin-top: 0;
  }

  .tabLayout {
    text-align: left;
    margin-top: 10px;
  }

  .whiteSubtitle {
    font-size: 46px;
    margin: 0 5vw;
  }

  .blackSubtitle {
    font-size: 46px;
    margin: 0 5vw;
  }

  .whiteBody {
    margin: 5vw;
  }

  .menuItemTitle {
    font-size: 40px;
  }

  .Collapsible__trigger {
    font-size: 46px;
  }

  .Header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shapePattern {
    width: 50vw;
    height: 25vh;
    top: 1300px;
    left: 0px;
  }

  .linesPattern {
    width: 140px;
    right: 40px;
    top: 1950px;
  }

  .longLineDeco {
    background-color: rgb(158, 127, 102);
    height: 3px;
    width: 83vw;
    margin: 0 auto 2.5vh auto;
  }

  .smallLineDeco {
    background-color: rgb(158, 127, 102);
    height: 5px;
    width: 20vw;
    margin: 0 auto 5vh auto;
  }
}

// Desktop
@media only screen and (min-width: 961px) {
  .phoneImg,
  .tabletImg {
    display: none;
  }

  .Header {
    display: flex;
    flex-direction: row-reverse;
  }

  .firstSubtitle {
    font-size: 70px;
  }

  .intro {
    position: absolute;
    width: 40vw;
    margin: 6vh 10vw;
    text-align: left;
  }

  .title {
    margin: 6vh 8vw 3vh 8vw;
    line-height: 60px;
  }

  .firstSubtitle,
  .whiteBody,
  .blackBody {
    margin: 0;
  }

  .maxScreenText {
    width: 30vw;
    font-size: 18px;
  }

  .photoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10vh 10vw -15vh 10vw;
  }

  .Imgdescription {
    margin: 30vh 3vw 20vh 3vw;
    text-align: left;
  }

  .shapePattern {
    width: 55vw;
    height: 35vh;
    position: absolute;
    top: 1000px;
    left: 0;
  }

  .linesPattern {
    width: 180px;
    right: 40px;
    top: 1600px;
  }

  .menuSection {
    display: flex;
  }

  .tabLayout {
    text-align: left;
    margin: 0 0 0 10px;
  }

  .menuHighligths {
    display: flex;
    margin-top: 50px;
  }

  .firstColumn {
    width: 50%;
    text-align: left;
    margin: 38vh 0 0 5vw;
  }

  .secondColumn {
    width: 50vw;
    margin: 24vh 4vw 4vh 8vw;
  }

  .longLineDeco {
    background-color: rgb(158, 127, 102);
    height: 3px;
    width: 83vw;
    margin: -1px 0 0 0;
  }
}
