@import "./variables.scss";

.Home {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
  }

  .firstSubtitle {
    color: white;
    font: {
      size: 32px;
      weight: 100;
    }
    line-height: 40px;
    margin: 2vh 12vw;
  }

  .whiteSubtitle {
    @include whiteSubtitle();
  }

  .whiteBody {
    @include whiteBody();
    line-height: 26px;
  }

  .menuItemTitle {
    margin-top: -5vh;
    font-size: 26px;
  }

  .menuItemDescr {
    margin-top: 1vh;
  }

  .Collapsible__trigger {
    @include blackSubtitle();
    font: {
      size: 26px;
      weight: 200;
    }
    text-transform: uppercase;
    color: black;
    margin: 2vh 0;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      text-decoration: underline;
      text-underline-offset: 12px;
    }
  }

  &.Collapsible__trigger.is-open {
    opacity: 1;
  }

  .collapsItem {
    margin: 2vh 0;
  }

  .chevron {
    position: relative;
    top: -20px;
  }

  .longLineDeco {
    background-color: rgb(158, 127, 102);
    height: 3px;
    width: 83vw;
    margin: 0 auto 2.5vh auto;
  }

  .smallLineDeco {
    background-color: rgb(158, 127, 102);
    height: 5px;
    width: 20vw;
    margin: 0 auto 5vh auto;
  }
  .linesPattern {
    width: 200px;
    position: absolute;
    margin-bottom: -100px;
  }
}

// Phones
@media only screen and (max-width: 480px) {
  .tabletImg,
  .desktopImg,
  .longLineDeco .smallLineDeco {
    display: none;
  }
}

// Tablets
@media only screen and (min-width: 480px) and (max-width: 961px) {
  .whiteBody {
    font-size: 24px;
    line-height: 40px;
  }

  .phoneImg,
  .desktopImg {
    display: none;
  }

  .menuHighligths {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menuItemTitle {
    margin-top: 0;
    font-size: 26px;
  }

  .menuItemDescr {
    margin-top: 0;
  }

  .tabLayout {
    text-align: left;
    margin-top: 45px;
  }
}

// Desktop
@media only screen and (min-width: 961px) {
  .phoneImg,
  .tabImg {
    display: none;
  }
}
