@import "./variables.scss";

.App {
  text-align: center;
  font-family: $font-family;
  height: fit-content;
  background-color: black;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.title {
  @include title();
}

.whiteSubtitle {
  @include whiteSubtitle();
}

.blackSubtitle {
  @include blackSubtitle();
}

.whiteBody {
  @include whiteBody();
}

.blackBody {
  @include blackBody();
}

// Buttons ///////////////////////////////////////////////////////////////////////////////////////////////////////

.blackButton {
  border: white solid 1px;
  background-color: black;
  padding: 20px 0;
  width: 65vw;
  margin: 35px;
  color: white;
  text-transform: uppercase;
  &:hover {
    transform: scale(1.1);
    box-shadow: 10px 17px 40px -16px rgba(247, 225, 247, 0.97);
  }
}

.transparentButton {
  padding: 20px 65px;
  margin: 5vh 0 10vh 0;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  border: white solid 1px;
  &:hover {
    background: white;
    color: black;
  }
  &:disabled {
    opacity: 25%;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}
