// Colors ///////////////////////////////////////////////////////////////////////////////////////////////////

$beaver: #9e7f66;
$cod-gray: #111111;
$mirage: #17192b;
$ebony-clay: #242b37;
$shuttle-gray: #5c6779;

// Typography ////////////////////////////////////////////////////////////////////////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

$font-family: "League Spartan", sans-serif;

@mixin headerSm {
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2.5px;
  text-align: center;
  color: #4c4c4c;
}

@mixin headerMd {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
  color: $mirage;
}

@mixin headerLg {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
  color: $ebony-clay;
}

@mixin headerXL {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -1px;
  text-align: left;
  color: $mirage;
}

@mixin bodyOne {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: $ebony-clay;
}

@mixin bodyTwo {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $mirage;
}

// Buttons ///////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin onWhiteButton {
  height: 64px;
  width: 170px;
  border: #111111 solid 1px;
  color: #111111;
  background-color: transparent;
  &:hover {
    background: #111111;
    color: white;
  }
  &:disabled {
    opacity: 25%;
  }
}

@mixin onDarkButton {
  height: 64px;
  width: 170px;
  background-color: transparent;
  color: white;
  border: white solid 1px;
  &:hover {
    background: white;
  }
  &:disabled {
    opacity: 25%;
  }
}
