// Colors ///////////////////////////////////////////////////////////////////////////////////////////////////

$beaver: #9e7f66;
$cod-gray: #111111;
$mirage: #17192b;
$ebony-clay: #242b37;
$shuttle-gray: #5c6779;

// Typography ////////////////////////////////////////////////////////////////////////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

$font-family: "League Spartan", sans-serif;

@mixin title {
  font-size: 46px;
  font-weight: 700;
  line-height: 6vh;
  letter-spacing: 2.5px;
  color: white;
  margin: 5vh 5vw;
}

@mixin whiteSubtitle {
  font-weight: 600;
  line-height: 40px;
  color: white;
}

@mixin blackSubtitle {
  font-weight: 700;
  line-height: 40px;
  color: #242b37;
}

@mixin whiteBody {
  font-weight: 500;
  color: white;
}

@mixin blackBody {
  line-height: 26px;
  font-weight: 600;
  color: #242b37;
  margin: 5vw;
}
