@import "../styles/variables.scss";

.map-container {
  height: 200px;
  width: 300px;
}

.mapBox {
  display: flex;
  justify-content: center;
  margin: 5vh 0 5vh 0;
}

.socialLogo {
  margin: 10px 15px 5vh 15px;
}

.Footer {
  padding: 5% 0;
}

// Phones
@media only screen and (max-width: 480px) {
}

// Tablets
@media only screen and (min-width: 480px) and (max-width: 961px) {
  .map-container {
    width: 70vw;
    height: 35vh;
  }

  .mapBox {
    margin: 2vh 2vw;
  }
}

// Desktop
@media only screen and (min-width: 961px) {
  .phoneImg,
  .tabImg {
    display: none;
  }

  .venueInfo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .mapBox {
    width: 30%;
    height: 300px;
    margin: 50px 0;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .socialLogo {
    margin: 20px;
    width: 40px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .socialLogo > * {
    margin-right: 20px;
  }
}
