@import "../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 5%;
  label {
    margin-bottom: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #333;
  }
  input,
  select,
  .symbol {
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    background-color: transparent;
  }
  span,
  .symbol {
    border: none;
    background-color: transparent;
  }
  .inputs {
    width: 88%;
  }

  label {
    padding: 0;
  }
  input:focus,
  select:focus {
    outline: none;
  }
  select {
    color: #9e7f66;
  }
}
.submitButton {
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
  }
}

.peopleSelect {
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: auto;
}

.error-message,
.success-message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.error-message {
  background-color: transparent;
  color: #721c24;
}

.success-message {
  background-color: transparent;
  color: #155724;
}

// Phones
@media only screen and (max-width: 480px) {
  .submitButton {
    font-size: 16px;
    padding: 18px 40px 16px;
  }
}

// Tablets
@media only screen and (min-width: 480px) and (max-width: 961px) {
  .submitButton {
    font-size: 34px;
    font-weight: 400;
    padding: 18px 40px 16px;
  }
}

// Desktop
@media only screen and (min-width: 961px) {
  .form {
    width: 30vw;
  }
  .submitButton {
    font-size: 18px;
    padding: 14px 35px;
  }
}
